*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(/img/background\ color.jpg);
    background-size: cover;
    background-position: center;
}

.links{
    list-style: none;
}

.logo{
    width: 200px;
}
/* header */

.navbar{
    display:flex;
    justify-content: space-between;
}

.links a{
    color: orange;
    font-size: large;
}

.links a:hover{
    color: white;
    background-color: orange;
    transition-duration: 0.6s;
    font-size: x-large;
    padding: 20px;
    border-radius: 20px;
}