*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(/img/background\ color.jpg);
    background-size: cover;
    background-position: center;
}

.links{
    list-style: none;
}

.logo{
    width: 200px;
}
/* header */

.links{
    display: flex;
    justify-content: space-evenly;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    border: transparent;
    font-size: x-large;
}
.logo{
    width: 100px;
}
.navbar{
    background-color: rgba(240, 248, 255, 0.178);
}


.links li a{
    color: aliceblue;
}

.links li :hover{
    .navbar{
    background-color: rgba(240, 248, 255, 0.178);
}
    animation: hoveranimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-width:20%;
    
}


@keyframes hoveranimation {

    0%{
        background-color: rgba(130, 197, 255, 0.178);
    }

    50% {
        background-color: rgb(17, 67, 110);
    }
    100% {
        background-color: rgba(130, 197, 255, 0.178);
    }

}